body {
    font-family: Open Sans;
}

h1 {
    text-align: center;
}

#title {
    text-decoration: underline;
}

#quiz {
    text-indent: 10px;
    display:none;
}

.button2 {
    border:4px solid;
    border-radius:5px;
    width: 60px;
    padding-left:5px;
    padding-right: 5px;
    position: relative;
    float:right;
    background-color: #DCDCDC;
    color: black;
    margin: 0 2px 0 2px;
}
#radio1 {
    display: none;
	
}

.button2.active {
    background-color: #04B45F;
    color: #525252;
}

button2 {
    position: relative;
    float:right;
}

.button2 a {
    text-decoration: none;
    color: black;
}

#container {
    width:90%;
    margin:auto;
    padding: 0 25px 40px 10px;
    background-color: #04B666;
    border:4px solid #B0E0E6;
    border-radius:5px;
    color: #FFFFFF;
    font-weight: bold;
    box-shadow: 5px 5px 5px #888;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#prev {
    display:none;
}

#start {
    display:none;
    width: 90%;
}